<% provide(:title, 'Teams') %>

<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th>School</th>
      <th>Nickname</th>
      <th>Conference</th>
      <th>Record</th>
      <th>Conference Record</th>
      <% if logged_in? && current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.school, team %></td>
        <td><%= team.name %></td>
        <td><%= team.conference.name %></td>
        <td><%= team.wins.to_s + "-" + team.losses.to_s %></td>
        <td><%= team.conference_wins.to_s + "-" + team.conference_losses.to_s %></td>
        <% if logged_in? && current_user.admin? %>
          <td><%= link_to('Edit', edit_team_path(team)) + " | " +
                  link_to('Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
