<h1><%= @team.school + " " + @team.name %></h1>
<h3><%= @team.stadium.name unless @team.stadium.nil? %></h3>
<h2>Roster</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Pos</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= player.jersey %></td>
        <td><%= link_to player.first_name + " " + player.last_name, player %></td>
        <td><%= player.position %></td>
        <td><%= player.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Stats</h2>
<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Points</th>
      <th>Asssists</th>
      <th>Rebounds</th>
    </tr>
  </thead>
  <tbody>
    <% @team.player_seasons.each do |player_season| %>
      <tr>
        <td><%= player_season.name %></td>
        <td><%= player_season.points %></td>
        <td><%= player_season.assists %></td>
        <td><%= player_season.rebounds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
