<% provide(:title, @team.school + " " + @team.name) %>
<div class="team-banner row center">
  <div class="team-logo row">
    <%= image_tag @team.team_logo_url if @team.team_logo_url%> 
  </div>
  <h1><small><%= @team.ap_rank %></small><%= @team.school + " " + @team.name %></h1>
  <h4>
    <%= @team.wins.to_s + "-" + @team.losses.to_s + " (" + @team.conference_wins.to_s + "-" + @team.conference_losses.to_s + ")" %>
    <span>•</span>
    <%= @team.conference.name %>
  </h4>
  <h4><%= @team.stadium.name if @team.stadium %></h4>
</div>
<div class="middle-team-row row">
  <div class="col-md-6 team-schedule">
    <h3>Schedule</h3>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <td>Date</td>
          <td>Game</td>
          <td>Result</td>
          <td>Pos</td>
        </tr>
      </thead>
      <tbody>
        <% @team_games.each do |game| %>
          <% if game.home_or_away == "AWAY" %>
            <% opponent_game = game.game.team_games.find_by(home_or_away: "HOME") %>
            <% opponent_score = game.game.home_team_score %>
          <% else %>
            <% opponent_game = game.game.team_games.find_by(home_or_away: "AWAY") %>
            <% opponent_score = game.game.away_team_score %>
          <% end %>
          <tr>
            <td><%= game.day.strftime("%m/%d/%y") %></td>
            <td><% if game.home_or_away == "AWAY" %>@<% end %><%= game.opponent_name %></td>
            <% if game.wins + game.losses > 0 %>
              <% game_text = "" %>
              <% if game.wins == 1%><% game_text += "W "%><% else %><% game_text += "L "%><% end %>
              <% game_text += game.points.to_s + "-" + opponent_score.to_s %>
              <td><%= link_to game_text, game.game %></td>
            <% else %>
              <td><%= game.game.status %></td>
            <% end %>
            <td><%= game.game.possessions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h2>Player Stats</h2>
<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Pos</th>
      <th>Games</th>
      <th>Min</th>
      <th>Points</th>
      <th>Assists</th>
      <th>Rebounds</th>
      <th>Blocks</th>
      <th>Steals</th>
      <th>FG%</th>
      <th>3P%</th>
    </tr>
  </thead>
  <tbody>
    <% @player_seasons.each do |player_season| %>
      <tr>
        <td><%= link_to player_season.name, player_season.player %></td>
        <td><%= player_season.position %></td>
        <td><%= player_season.games %>
        <td><%= (player_season.minutes.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.points.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.assists.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.rebounds.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.blocked_shots.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.steals.to_f / player_season.games).round(1) %></td>
        <td><%= player_season.field_goals_percentage %></td>
        <td><%= player_season.three_pointers_percentage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
