<% provide(:title, @team.school + " " + @team.name) %>
<div class="team-banner row center">
  <div class="team-logo row">
    <%= image_tag @team.team_logo_url if @team.team_logo_url%> 
  </div>
  <h1><small><%= @team_season.adjem_rank %></small><%= @team.school + " " + @team.name %></h1>
  <h4>
    <%= @team.wins.to_s + "-" + @team.losses.to_s + " (" + @team.conference_wins.to_s + "-" + @team.conference_losses.to_s + ")" %>
    <span>•</span>
    <%= @team.conference.name %>
  </h4>
  <h4><%= @team.stadium.name if @team.stadium %></h4>
</div>
<div class="middle-team-row row">
  <div class="col-md-3 team-schedule">
    <h3>Schedule</h3>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <td>Date</td>
          <td>Game</td>
          <td>Result</td>
          <td>Pos</td>
        </tr>
      </thead>
      <tbody>
        <% @team_games.where(year: current_year).each do |game| %>
          <% if game.home_or_away == "AWAY" %>
            <% opponent_game = game.game.team_games.find_by(home_or_away: "HOME") %>
            <% opponent_score = game.game.home_team_score %>
          <% else %>
            <% opponent_game = game.game.team_games.find_by(home_or_away: "AWAY") %>
            <% opponent_score = game.game.away_team_score %>
          <% end %>
          <tr>
            <td><%= game.day.strftime("%m/%d/%y") %></td>
            <td><% if game.home_or_away == "AWAY" %>@<% end %><%= game.opponent_name %></td>
            <% if game.wins + game.losses > 0 %>
              <% game_text = "" %>
              <% if game.wins == 1%><% game_text += "W "%><% else %><% game_text += "L "%><% end %>
              <% game_text += game.points.to_s + "-" + opponent_score.to_s %>
              <td><%= link_to game_text, game.game %></td>
            <% else %>
              <td><%= game.game.status %></td>
            <% end %>
            <td><%= game.game.possessions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="charts-container col-md-6">
    <h3>Style/Performance Relationships</h3>
    <div class="col-xs-6 style-charts">
      <%= scatter_chart @team_games.pluck(:defensive_style_advantage, :performance), xtitle: "Defensive Aggression", ytitle: "Performance" %>
      <p>Slope: <%= @team_season.defensive_style_advantage %></p>
      <p>Correlation: <%= @team_season.r_defensive_style %></p>
      <%= scatter_chart @team_games.pluck(:three_pointers_advantage, :performance), xtitle: "Three Pointers", ytitle: "Performance" %>
      <p>Slope: <%= @team_season.three_pointers_advantage %></p>
      <p>Correlation: <%= @team_season.r_three_pointers %></p></p>
    </div>
    <div class="col-xs-6 style-charts">
      <%= scatter_chart @team_games.pluck(:assists_advantage, :performance), xtitle: "Assists", ytitle: "Performance" %>
      <p>Slope: <%= @team_season.assists_advantage %></p>
      <p>Correlation: <%= @team_season.r_assists %></p></p>
      <%= scatter_chart @team_games.pluck(:pace_advantage, :performance), xtitle: "Pace", ytitle: "Performance" %>
      <p>Slope: <%= @team_season.pace_advantage %></p>
      <p>Correlation: <%= @team_season.r_pace %></p></p>
    </div> 
  </div>
  <div class="col-md-3 team-stats">
    <h3>Team Stats</h3>
    <table class="table table-striped">
      <tr><th colspan='3' class="center">Efficiency</th></tr>
      <tr><th></th><th class="center">Offense</th><th class="center">Defense</th></tr>
      <tr>
        <th>AdjEff</th>
        <td class="center"><%= @team_season.adj_offensive_efficiency %> <small><%= TeamSeason.order(adj_offensive_efficiency: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.adj_defensive_efficiency %> <small><%= TeamSeason.order(adj_defensive_efficiency: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <tr>
        <th>Eff +/-</th>
        <td colspan="2" class="center"><%= @team_season.adj_efficiency_margin %> <small><%= TeamSeason.order(adj_efficiency_margin: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <tr>
        <th>AdjT</th>
        <td colspan="2" class="center"><%= @team_season.adj_tempo %> <small><%= TeamSeason.order(adj_tempo: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <th colspan='3' class="center">Four Factors</th></tr>
      <tr><th></th><th class="center">Offense</th><th class="center">Defense</th></tr>
      <tr>
        <th>EffFG%</th>
        <td class="center"><%= @team_season.effective_field_goals_percentage %> <small><%= TeamSeason.order(effective_field_goals_percentage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.effective_field_goals_percentage_allowed %> <small><%= TeamSeason.order(effective_field_goals_percentage_allowed: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <tr>
        <th>TO%</th>
        <td class="center"><%= @team_season.turnovers_percentage %> <small><%= TeamSeason.order(turnovers_percentage: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.turnovers_percentage_allowed %> <small><%= TeamSeason.order(turnovers_percentage_allowed: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <tr>
        <th>OREB%</th>
        <td class="center"><%= @team_season.offensive_rebounds_percentage %> <small><%= TeamSeason.order(offensive_rebounds_percentage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= 100.0 - @team_season.defensive_rebounds_percentage if @team_season.defensive_rebounds_percentage %> <small><%= TeamSeason.order(defensive_rebounds_percentage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <tr>
        <th>FTA/FGA</th>
        <td class="center"><%= @team_season.free_throws_rate %> <small><%= TeamSeason.order(free_throws_rate: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.free_throws_rate_allowed %> <small><%= TeamSeason.order(free_throws_rate_allowed: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <th colspan='3' class="center">Style</th></tr>
      <tr><th></th><th class="center">Offense</th><th class="center">Defense</th></tr>
      <th>AST%</th>
        <td class="center"><%= @team_season.assists_percentage %> <small><%= TeamSeason.order(assists_percentage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.assists_percentage_allowed %> <small><%= TeamSeason.order(assists_percentage_allowed: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <th>3PT Rate</th>
        <td class="center"><%= @team_season.three_pointers_rate %> <small><%= TeamSeason.order(three_pointers_rate: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.three_pointers_rate_allowed %> <small><%= TeamSeason.order(three_pointers_rate_allowed: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
        <th>D Aggression</th>
        <td class="center" colspan="2"><%= @team_season.defensive_aggression %> <small><%= TeamSeason.order(defensive_aggression: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      </tr>
        <th>D Style</th>
        <td class="center" colspan="2"><%=  @team_season.defensive_fingerprint %></td>
      </tr>
      <th colspan='3' class="center">Miscellaneous</th></tr>
      <tr><th></th><th class="center">Offense</th><th class="center">Defense</th></tr>
      <th>Blocks%</th>
        <td class="center"><%= @team_season.blocks_percentage_allowed %> <small><%= TeamSeason.order(blocks_percentage_allowed: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.blocks_percentage %> <small><%= TeamSeason.order(blocks_percentage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
      <th>Steal%</th>
        <td class="center"><%= @team_season.steals_percentage_allowed %> <small><%= TeamSeason.order(steals_percentage_allowed: :asc).pluck(:id).index(@team_season.id) + 1 %></small></td>
        <td class="center"><%= @team_season.steals_percentage %> <small><%= TeamSeason.order(steals_percentage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
        <th>HomeAdv</th>
        <td class="center" colspan="2"><%= @team_season.home_advantage %> <small><%= TeamSeason.order(home_advantage: :desc).pluck(:id).index(@team_season.id) + 1 %></small></td>
      </tr>
    </table>
  </div>
</div>

<h3>Player Stats</h3>
<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Pos</th>
      <th>Games</th>
      <th>Min</th>
      <th>Points</th>
      <th>Assists</th>
      <th>Rebounds</th>
      <th>Blocks</th>
      <th>Steals</th>
      <th>FG%</th>
      <th>3P%</th>
    </tr>
  </thead>
  <tbody>
    <% @player_seasons.each do |player_season| %>
      <tr>
        <td><%= link_to player_season.name, player_season.player %></td>
        <td><%= player_season.position %></td>
        <td><%= player_season.games %>
        <td><%= (player_season.minutes.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.points.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.assists.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.rebounds.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.blocked_shots.to_f / player_season.games).round(1) %></td>
        <td><%= (player_season.steals.to_f / player_season.games).round(1) %></td>
        <td><%= player_season.field_goals_percentage %></td>
        <td><%= player_season.three_pointers_percentage %></td>
      </tr>
    <% end %>
  </tbody>
</table>
