<%= form_for(@season) do |form| %>
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:
      </div>
      <ul>
        <% @season.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :season %>
    <%= form.number_field :season, class: 'form-control', id: :season_season %>
  </div>
  
  <div class="field">
    <%= form.label :start_year %>
    <%= form.number_field :start_year, class: 'form-control', id: :season_start_year %>
  </div>  
  
  <div class="field">
    <%= form.label :end_year %>
    <%= form.number_field :end_year, class: 'form-control', id: :season_end_year %>
  </div>  
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control', id: :season_description %>
  </div>
  
  <div class="field">
    <%= form.label :regular_season_start_date %>
    <%= form.date_field :regular_season_start_date, class: 'form-control', id: :season_regular_season_start_date %>
  </div>

  <div class="field">
    <%= form.label :regular_season_end_date %>
    <%= form.date_field :regular_season_end_date, class: 'form-control', id: :season_regular_season_end_date %>
  </div>
  
  <div class="actions">
    <%= form.submit yield(:button_text), class: "btn btn-standard btn-wide" %>
  </div>
<% end %>