<% provide :title, 'New Simulation' %>

<h1>New Simulation</h1>
<div class="row">
  <div class="prediction-container col-xs-12">
    <div class="prediction-details">
      <div class="row">
        <%= form_tag({:controller => 'simulations', :action => 'simulation_result'}, {:method => 'get', :class => 'simulation_form'}) do %>
          <div class="col-md-10 col-xs-12">
            <div class="form-group col-xs-6">
              <%= label_tag :away_team, 'Away Team'%>
              <%= collection_select :away_team, :id, @team_seasons, :id, :name %>
            </div>
            <div class="form-group col-xs-6">
              <%= label_tag :home_team, 'Home Team' %>
              <%= collection_select :home_team, :id, @team_seasons, :id, :name %>
            </div>  
          </div>
          <div class="col-md-2 col-xs-12">
            <div class="form-group">
              <%= label_tag :neutral, 'Neutral?' %>
              <%= check_box_tag :neutral %>
            </div>
          </div>
          <div class="col-xs-12 center">
            <button type="submit" class="btn submitButton .center">Begin Simulation</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>