<% provide(:title, 'Advanced Player Stats') %>
<% year = params[:season].to_i %>
<% year = @team_seasons.first.year if year == 0 %>
<% conference_id = params[:conference_id].to_i %>
<%= link_to 'Previous Season', player_advanced_path(season: year - 1, conference_id: conference_id) %>
<% if year >= current_season.season %>
  <%= link_to 'Next Season', player_preseason_path, class: 'align-right' %>
<% else %>
  <%= link_to 'Next Season', player_advanced_path(season: year + 1, conference_id: conference_id), class: 'align-right' %>
<% end %>

<div class="hidden-small row pagination-div">
  <%= will_paginate @player_seasons, inner_window: 3, outer_window: 1 %>
</div>
<div class="hidden-large row pagination-div">
  <%= will_paginate @player_seasons, inner_window: 1, outer_window: 0 %>
</div>

<div class="row stats-container">
  <div class="row filter-container">
    <ul class="filter-navbar">
      <li>
        <%= form_tag player_advanced_path, :method => :get do %>
          <li>
            <%= hidden_field_tag 'season', year %>
          </li>
          <li>
            <%= select_tag(:conference_id, options_for_select(@conferences.map { |obj| [obj['name'], obj['id']]}, conference_id), {include_blank: 'Filter Conference'}) %>
          </li>
          <li>
            <%= submit_tag 'Filter', name: nil %>
          </li>
        <% end %>
      </li>
      <li>
        <%= link_to "Clear Filters", player_advanced_path(season: year) %>
      </li>
    </ul>
  </div>
  <div class="stats-inner-container">
    <div class="scrollable-table">
      <table class="table table-sm">
        <thead>
          <tr>
            <th><%= sort_link "prophet_rating", "Rank", "desc", year, conference_id %></th>
            <th><%= sort_link "name", "Player", "asc", year, conference_id %></th>
            <th><%= sort_link "team_name", "Team", "asc", year, conference_id %></th>
            <th><%= sort_link "true_shooting_percentage", "TS%", "desc", year, conference_id %></th>
            <th><%= sort_link "assists_percentage", "AST%", "desc", year, conference_id %></th>
            <th><%= sort_link "offensive_rebounds_percentage", "ORB%", "desc", year, conference_id %></th>
            <th><%= sort_link "defensive_rebounds_percentage", "DRB%", "desc", year, conference_id %></th>
            <th><%= sort_link "total_rebounds_percentage", "TRB%", "desc", year, conference_id %></th>
            <th><%= sort_link "steals_percentage", "STL%", "desc", year, conference_id %></th>
            <th><%= sort_link "blocks_percentage", "BLK%", "desc", year, conference_id %></th>
            <th><%= sort_link "turnovers_percentage", "TO%", "asc", year, conference_id %></th>
            <th><%= sort_link "usage_rate", "USG%", "desc", year, conference_id %></th>
            <th><%= sort_link "player_efficiency_rating", "PER", "desc", year, conference_id %></th>
            <th><%= sort_link "player_of_the_games", "PoTG", "desc", year, conference_id %></th>
            <th><%= sort_link "prophet_rating", "PRate", "desc", year, conference_id %></th>
          </tr>
        </thead>
        <tbody>
          <% if params[:page] %>
            <% x = (params[:page].to_i - 1) * 100 %>
          <% else %>
            <% x = 0 %>
          <% end %>
          <% @player_seasons.each do |season| %>
          <% x += 1 %>
            <tr>
              <td><%= x %></td>
              <td><%= link_to season.name, season.player %></td>
              <td><%= season.team.school if season.team %></td>
              <td><%= season.true_shooting_percentage %></td>
              <td><%= season.assists_percentage %></td>
              <td><%= season.offensive_rebounds_percentage %></td>
              <td><%= season.defensive_rebounds_percentage %></td>
              <td><%= season.total_rebounds_percentage %></td>
              <td><%= season.steals_percentage %></td>
              <td><%= season.blocks_percentage %></td>
              <td><%= season.turnovers_percentage %></td>
              <td><%= season.usage_rate %></td>
              <td><%= season.player_efficiency_rating %></td>
              <th><%= season.player_of_the_games %></th>
              <td><%= season.prophet_rating %></td>
            </tr>
            <% if x % 20 == 0 && x % 100 != 0 %>
              <tr>
                <th><%= sort_link "prophet_rating", "Rank", "desc", year, conference_id %></th>
                <th><%= sort_link "name", "Player", "asc", year, conference_id %></th>
                <th><%= sort_link "team_name", "Team", "asc", year, conference_id %></th>
                <th><%= sort_link "true_shooting_percentage", "TS%", "desc", year, conference_id %></th>
                <th><%= sort_link "assists_percentage", "AST%", "desc", year, conference_id %></th>
                <th><%= sort_link "offensive_rebounds_percentage", "ORB%", "desc", year, conference_id %></th>
                <th><%= sort_link "defensive_rebounds_percentage", "DRB%", "desc", year, conference_id %></th>
                <th><%= sort_link "total_rebounds_percentage", "TRB%", "desc", year, conference_id %></th>
                <th><%= sort_link "steals_percentage", "STL%", "desc", year, conference_id %></th>
                <th><%= sort_link "blocks_percentage", "BLK%", "desc", year, conference_id %></th>
                <th><%= sort_link "turnovers_percentage", "TO%", "asc", year, conference_id %></th>
                <th><%= sort_link "usage_rate", "USG%", "desc", year, conference_id %></th>
                <th><%= sort_link "player_efficiency_rating", "PER", "desc", year, conference_id %></th>
                <th><%= sort_link "player_of_the_games", "PoTG", "desc", year, conference_id %></th>
                <th><%= sort_link "prophet_rating", "PRate", "desc", year, conference_id %></th>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="hidden-small row pagination-div">
  <%= will_paginate @player_seasons, inner_window: 3, outer_window: 1 %>
</div>
<div class="hidden-large row pagination-div">
  <%= will_paginate @player_seasons, inner_window: 1, outer_window: 0 %>
</div>