<% provide(:title, 'Player Shooting Stats') %>
<% year = params[:season].to_i %>
<%= link_to 'Previous Season', player_shooting_path(season: year - 1) %>
<%= link_to 'Next Season', player_shooting_path(season: year + 1), class: 'align-right' %>
<div class="row pagination-div">
  <%= will_paginate %>
</div>
<table class="table table-sm">
  <thead>
    <tr>
      <th><%= sort_link "prophet_rating", "Rank", "desc", year %></th>
      <th>Player</th>
      <th>Team</th>
      <th><%= sort_link "field_goals_percentage", "FG%", "desc", year %></th>
      <th><%= sort_link "two_pointers_percentage", "2P%", "desc", year %></th>
      <th><%= sort_link "three_pointers_percentage", "3P%", "desc", year %></th>
      <th><%= sort_link "free_throws_percentage", "FT%", "desc", year %></th>
      <th><%= sort_link "effective_field_goals_percentage", "eFG%", "desc", year %></th>
      <th><%= sort_link "true_shooting_percentage", "TS%", "desc", year %></th>
      <th><%= sort_link "points_per_game", "PPG", "desc", year %></th>
    </tr>
  </thead>
  <tbody>
    <% if params[:page] %>
      <% x = (params[:page].to_i - 1) * 100 %>
    <% else %>
      <% x = 0 %>
    <% end %>
    <% @player_seasons.each do |season| %>
    <% x += 1 %>
      <tr>
        <td><%= x %></td>
        <td><%= link_to season.name, season.player %></td>
        <td><%= season.team.school %></td>
        <td><%= season.field_goals_percentage %></td>
        <td><%= season.two_pointers_percentage %></td>
        <td><%= season.three_pointers_percentage %></td>
        <td><%= season.free_throws_percentage %></td>
        <td><%= season.effective_field_goals_percentage %></td>
        <td><%= season.true_shooting_percentage %></td>
        <td><%= season.points_per_game %></td>
      </tr>
      <% if x % 20 == 0 && x % 100 != 0 %>
        <tr>
          <th><%= sort_link "prophet_rating", "Rank", "desc", year %></th>
          <th>Player</th>
          <th>Team</th>
          <th><%= sort_link "field_goals_percentage", "FG%", "desc", year %></th>
          <th><%= sort_link "two_pointers_percentage", "2P%", "desc", year %></th>
          <th><%= sort_link "three_pointers_percentage", "3P%", "desc", year %></th>
          <th><%= sort_link "free_throws_percentage", "FT%", "desc", year %></th>
          <th><%= sort_link "effective_field_goals_percentage", "eFG%", "desc", year %></th>
          <th><%= sort_link "true_shooting_percentage", "TS%", "desc", year %></th>
          <th><%= sort_link "points_per_game", "PPG", "desc", year %></th>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="row pagination-div">
  <%= will_paginate %>
</div>
  