<% provide(:title, 'Predictions') %>

<h1>Predictions</h1>

<% todays_date = Date.parse(params[:date]) %>
<% previous_day = (todays_date - 1.day).strftime('%Y%m%d') %>
<% next_day = (todays_date + 1.day).strftime('%Y%m%d') %>
<%= link_to "Previous Day", predictions_path(date: previous_day) %>
<%= link_to "Next Day", predictions_path(date: next_day), class: 'align-right' %>
<% if todays_date < Date.today %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th></th>
        <th colspan="3" class="center">Vegas Lines</th>
        <th colspan="3" class="center">Prophet Lines</th>
        <th colspan="3" class="center">Bet Outcomes</th>
      </tr>
      <tr>
        <th>Game</th>
        <th>Spread</th>
        <th>O/U</th>
        <th>ML</th>
        <th>Spread</th>
        <th>O/U</th>
        <th>ML</th>
        <th>Spread</th>
        <th>O/U</th>
        <th>ML</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <% prediction = game.prediction %>
        <tr>
          <td>
            <% description = game.away_team_name + " " + game.away_team_score.to_s + " @ " + game.home_team_name + " " + game.home_team_score.to_s %>
            <%= link_to description, game %>
          </td>
          <td><%= game.point_spread %></td>
          <td><%= game.over_under %></td>
          <td><%= game.home_team_money_line %></td>
          <% if prediction %>
            <td><%= prediction.predicted_point_spread %></td>
            <td><%= prediction.predicted_over_under %></td>
            <td><%= prediction.predicted_moneyline %></td>
            <td>
              <% if prediction.win_point_spread == true %>
                WIN
              <% elsif prediction.win_point_spread == false %>
                LOSS
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <% if prediction.win_over_under == true %>
                WIN
              <% elsif prediction.win_over_under == false %>
                LOSS
              <% else %>
                N/A
              <% end %>
            </td>
            <td>              
              <% if prediction.win_moneyline == true %>
                WIN
              <% elsif prediction.win_moneyline == false %>
                LOSS
              <% else %>
                N/A
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr class="total-row">
        <td colspan="7"></td>
        <th><%= @predictions.where(win_point_spread: true).count.to_s + "-" + @predictions.where(win_point_spread: false).count.to_s %></th>
        <th><%= @predictions.where(win_over_under: true).count.to_s + "-" + @predictions.where(win_over_under: false).count.to_s %></th>
        <th><%= @predictions.where(win_moneyline: true).count.to_s + "-" + @predictions.where(win_moneyline: false).count.to_s %></th>
      </tr>
    </tbody>
  </table>
<% else %>

<% end %>