<% previous_season = @season.season - 1 %>
<% next_season = @season.season + 1 %>
<%= link_to 'Previous Season', predictions_statistics_path(season: previous_season) %>
<%= link_to "Next Season", predictions_statistics_path(date: next_season), class: 'align-right' %>
<h1><%= @season.season.to_s + " Predictions Statistics" %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Record</th>
      <th>Win%</th>
      <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Straight Up</th>
      <td><%= @straight_up_wins.to_s + "-" + @straight_up_losses.to_s %></td>
      <td><%= (100.0 * @straight_up_wins.to_f / (@straight_up_wins + @straight_up_losses)).round(1).to_s + "%" %></td>
      <td>N/A</td>
    </tr>
    <tr>
      <th>ATS</th>
      <td><%= @point_spread_wins.to_s + "-" + @point_spread_losses.to_s %></td>
      <td><%= (100.0 * @point_spread_wins.to_f / (@point_spread_wins + @point_spread_losses)).round(1).to_s + "%" %></td>
      <td><%= number_to_currency((90.90 * @point_spread_wins) - (100.0 * @point_spread_losses)) %></td>
    </tr>
    <tr>
      <th>O/U</th>
      <td><%= @over_under_wins.to_s + "-" + @over_under_losses.to_s %></td>
      <td><%= (100.0 * @over_under_wins.to_f / (@over_under_wins + @over_under_losses)).round(1).to_s + "%" %></td>
      <td><%= number_to_currency((90.90 * @over_under_wins) - (100.0 * @over_under_losses)) %></td>
    </tr>
    <tr>
      <th>Moneyline</th>
      <td><%= @moneyline_wins.to_s + "-" + @moneyline_losses.to_s %></td>
      <td><%= (100.0 * @moneyline_wins.to_f / (@moneyline_wins + @moneyline_losses)).round(1).to_s + "%" %></td>
      <td><%= number_to_currency(@predictions.sum(:winnings_moneyline), unit: '$') %></td>
    </tr>
  </tbody>
</table>