<% provide(:title, 'Team Miscellaneous Stats') %>
<% year = params[:season].to_i %>
<%= link_to 'Previous Season', team_misc_path(season: year - 1) %>
<%= link_to 'Next Season', team_misc_path(season: year + 1), class: 'align-right' %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Record</th>
      <th>AdjTempo</th>
      <th>AST%</th>
      <th>TO%</th>
      <th>FTRate</th>
      <th>DAST%</th>
      <th>DTO%</th>
      <th>DFTRate</th>
      <th>Home Adv</th>
    </tr>
  </thead>
  <tbody>
    <% x = 1 %>
    <% @team_seasons.each do |season| %>
      <tr>
        <td><%= x %></td>
        <td><%= link_to season.team.school, season.team %></td>
        <td><%= season.wins.to_s + "-" + season.losses.to_s %></td>
        <td><%= season.adj_tempo %></td>
        <td><%= season.assists_percentage %></td>
        <td><%= season.turnovers_percentage %></td>
        <td><%= season.free_throws_rate %></td>
        <td><%= season.assists_percentage_allowed %></td>
        <td><%= season.turnovers_percentage_allowed %></td>
        <td><%= season.free_throws_rate_allowed %></td>
        <td><%= season.assists_advantage %></td>
      </tr>
      <% if x % 20 == 0 %>
        <tr>
          <th>Rank</th>
          <th>Team</th>
          <th>Record</th>
          <th>AdjTempo</th>
          <th>AST%</th>
          <th>TO%</th>
          <th>FTRate</th>
          <th>DAST%</th>
          <th>DTO%</th>
          <th>DFTRate</th>
          <th>Home Adv</th>
        </tr>
      <% end %>
      <% x += 1 %>
    <% end %>
  </tbody>
</table>
