<% provide(:title, 'Rankings') %>
<% year = params[:season].to_i %>
<% year = @team_seasons.first.year if year == 0 %>
<%= link_to 'Previous Season', rankings_path(season: year - 1) %>
<%= link_to 'Next Season', rankings_path(season: year + 1), class: 'align-right' %>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th><%= sort_link "adjem_rank", "Rank", "asc", year %></th>
      <th><%= sort_link "name", "Team", "asc", year %></th>
      <th class="hidden-small">Conference</th>
      <th class="hidden-large">Conf</th>
      <th><%= sort_link "wins", "Record", "desc", year %></th>
      <th><%= sort_link "adj_efficiency_margin", "AdjEM", "desc", year %></th>
      <th><%= sort_link "adj_offensive_efficiency", "AdjO", "desc", year %></th>
      <th><%= sort_link "adj_defensive_efficiency", "AdjD", "asc", year %></th>
      <th><%= sort_link "adj_tempo", "AdjT", "desc", year %></th>
    </tr>
  </thead>
  <tbody>
    <% x = 1 %>
    <% @team_seasons.each do |season| %>
      <tr>
        <td><%= x %></td>
        <td><%= link_to season.team.school, team_path(season.team, year: year) %></td>
        <td class="hidden-small"><%= link_to season.team.conference.name, season.team.conference %></td>
        <td class="hidden-large"><%= link_to season.team.conference.abbreviation, season.team.conference %></td>
        <td><%= season.wins.to_s + "-" + season.losses.to_s %></td>
        <td><%= season.adj_efficiency_margin %></td>
        <td><%= season.adj_offensive_efficiency %></td>
        <td><%= season.adj_defensive_efficiency %></td>
        <td><%= season.adj_tempo %></td>
      </tr>
      <% if x % 20 == 0 %>
        <tr>
          <th><%= sort_link "adjem_rank", "Rank", "asc", year %></th>
          <th><%= sort_link "name", "Team", "asc", year %></th>
          <th class="hidden-small">Conference</th>
          <th class="hidden-large">Conf</th>
          <th><%= sort_link "wins", "Record", "desc", year %></th>
          <th><%= sort_link "adj_efficiency_margin", "AdjEM", "desc", year %></th>
          <th><%= sort_link "adj_offensive_efficiency", "AdjO", "desc", year %></th>
          <th><%= sort_link "adj_defensive_efficiency", "AdjD", "asc", year %></th>
          <th><%= sort_link "adj_tempo", "AdjT", "desc", year %></th>
        </tr>
      <% end %>
      <% x += 1 %>
    <% end %>
  </tbody>
</table>