<% provide(:title, 'Team Shooting Stats') %>
<% year = params[:season].to_i %>
<% year = @team_seasons.first.year if year == 0 %>
<% conference_id = params[:conference_id].to_i %>
<%= link_to 'Previous Season', team_shooting_path(season: year - 1, conference_id: conference_id) %>
<%= link_to 'Next Season', team_shooting_path(season: year + 1, conference_id: conference_id), class: 'align-right' %>
<div class="row stats-container">
  <div class="row filter-container">
    <ul class="filter-navbar">
      <li>
        <%= form_tag team_shooting_path, :method => :get do %>
          <li>
            <%= hidden_field_tag 'season', year %>
          </li>
          <li>
            <%= select_tag(:conference_id, options_for_select(@conferences.map { |obj| [obj['name'], obj['id']]}, conference_id), {include_blank: 'Filter Conference'}) %>
          </li>
          <li>
            <%= submit_tag 'Filter', name: nil %>
          </li>
        <% end %>
      </li>
      <li>
        <%= link_to "Clear Filters", team_shooting_path(season: year), class: 'hidden-small' %>
        <%= link_to "Clear", team_shooting_path(season: year), class: 'hidden-large' %>
      </li>
    </ul>
  </div>
  <div class="stats-inner-container">
    <div class="scrollable-table">
      <table class="table table-sm">
        <thead>
          <tr>
            <th><%= sort_link "adjem_rank", "Rank", "asc", year, conference_id %></th>
            <th><%= sort_link "name", "Team", "asc", year, conference_id %></th>
            <th><%= sort_link "wins", "Record", "desc", year, conference_id %></th>
            <th><%= sort_link "adj_offensive_efficiency", "AdjO", "desc", year, conference_id %></th>
            <th><%= sort_link "offensive_efficiency", "OEff", "desc", year, conference_id %></th>
            <th><%= sort_link "field_goals_percentage", "FG%", "desc", year, conference_id %></th>
            <th><%= sort_link "two_pointers_percentage", "2P%", "desc", year, conference_id %></th>
            <th><%= sort_link "three_pointers_percentage", "3P%", "desc", year, conference_id %></th>
            <th><%= sort_link "free_throws_percentage", "FT%", "desc", year, conference_id %></th>
            <th><%= sort_link "effective_field_goals_percentage", "EFG%", "desc", year, conference_id %></th>
            <th><%= sort_link "true_shooting_percentage", "TS%", "desc", year, conference_id %></th>
          </tr>
        </thead>
        <tbody>
          <% x = 1 %>
          <% @team_seasons.each do |season| %>
            <tr>
              <td><%= x %></td>
              <td><%= link_to season.team.school, team_path(season.team, year: year) %></td>
              <td><%= season.wins.to_s + "-" + season.losses.to_s %></td>
              <td><%= season.adj_offensive_efficiency %></td>
              <td><%= season.offensive_efficiency %></td>
              <td><%= season.field_goals_percentage %></td>
              <td><%= season.two_pointers_percentage %></td>
              <td><%= season.three_pointers_percentage %></td>
              <td><%= season.free_throws_percentage %></td>
              <td><%= season.effective_field_goals_percentage %></td>
              <td><%= season.true_shooting_percentage %></td>
            </tr>
            <% if x % 20 == 0 %>
              <tr>
                <th><%= sort_link "adjem_rank", "Rank", "asc", year, conference_id %></th>
                <th><%= sort_link "name", "Team", "asc", year, conference_id %></th>
                <th><%= sort_link "wins", "Record", "desc", year, conference_id %></th>
                <th><%= sort_link "adj_offensive_efficiency", "AdjO", "desc", year, conference_id %></th>
                <th><%= sort_link "offensive_efficiency", "OEff", "desc", year, conference_id %></th>
                <th><%= sort_link "field_goals_percentage", "FG%", "desc", year, conference_id %></th>
                <th><%= sort_link "two_pointers_percentage", "2P%", "desc", year, conference_id %></th>
                <th><%= sort_link "three_pointers_percentage", "3P%", "desc", year, conference_id %></th>
                <th><%= sort_link "free_throws_percentage", "FT%", "desc", year, conference_id %></th>
                <th><%= sort_link "effective_field_goals_percentage", "EFG%", "desc", year, conference_id %></th>
                <th><%= sort_link "true_shooting_percentage", "TS%", "desc", year, conference_id %></th>
              </tr>
            <% end %>
            <% x += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
