<div class="col-xs-12 blog-container row">
  <div class="col-xs-12 blog-inner-container">
    <% @blog_posts.each do |blog_post| %>
      <div class="col-xs-12 post-container">
        <div class="col-lg-2 blog-thumbnail">
          <% if !blog_post.image_url.empty? %>
            <%= image_tag(blog_post.image_url) %>
          <% else %>
            <%= image_tag('large_basketball.png') %>
          <% end %>
        </div>
        <div class='col-lg-10'>
          <h2><%= link_to blog_post.title, blog_post, id: 'post_title' %></h2>
          <% if logged_id? && current_user.admin? %>
            <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
          <% end %>
          <p><%= blog_post.preview %><%= link_to 'Continue Reading', blog_post %></p>
          <p><%= blog_post.date.strftime('%B %d, %Y') %> • <%= blog_post.user.first_name + " " + blog_post.user.last_name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>