<div class="row">
  <div class="col-xs-12 blog-container">
    <p><%= link_to 'Back to Blog', blog_posts_path %></p>
    <div class="col-xs-12 blog-inner-container">
      <div class="post-title">
        <h1><%= @blog_post.title %></h1>
        <% if current_user.admin? %>
        <%= link_to 'Edit Post', edit_blog_post_path(@blog_post) %>
        <% end %>
        <p><%= @blog_post.date.strftime('%B %d, %Y') %> • <%= @blog_post.user.first_name + " " + @blog_post.user.last_name %></p>
      </div>
      <div class="post-body">
        <% unless @blog_post.image_url.empty? %> 
          <%= image_tag @blog_post.image_url %>
        <% end %>
        <h4 id="subhead"><%= @blog_post.subtitle %></h4>
        <%= @blog_post.body.html_safe %>
        <% if @blog_post.team %>
          <p id="tags">
           Tags: <%= link_to @blog_post.team.school, @blog_post.team %>
          </p>
        <% end %>
      </div>
    </div>
  </div> 
</div>
