<h1><%= @conference.name %></h1>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Conference Record</th>
      <th>Record</th>
      <th>PRate</th>
    </tr>
  </thead>
  <tbody>
    <% x = 0 %>
    <% @team_seasons.each do |season| %>
      <% x += 1 %>
      <tr>
        <td><%= x %></td>
        <td><%= link_to season.team.school, season.team %></td>
        <td><%= season.conference_wins.to_s + "-" + season.conference_losses.to_s %></td>
        <td><%= season.wins.to_s + "-" + season.losses.to_s %></td>
        <td><%= season.adj_efficiency_margin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
