<% year = params[:season].to_i %>
<% year = @team_seasons.first.year if year == 0 %>
<h1><%= year.to_s + " " + @conference.name %></h1>
<%= link_to 'Previous Season', conference_path(id: @conference.id, season: year - 1) %>
<%= link_to 'Next Season', conference_path(id: @conference.id, season: year + 1), class: 'align-right' %>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Conference Record</th>
      <th>Record</th>
      <th>PRate</th>
    </tr>
  </thead>
  <tbody>
    <% x = 0 %>
    <% @team_seasons.each do |season| %>
      <% x += 1 %>
      <tr>
        <td><%= x %></td>
        <td><%= link_to season.team.school, season.team %></td>
        <td><%= season.conference_wins.to_s + "-" + season.conference_losses.to_s %></td>
        <td><%= season.wins.to_s + "-" + season.losses.to_s %></td>
        <td><%= season.adj_efficiency_margin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1><%= @points_leader.player.first_name + " " + @points_leader.player.last_name %></h1>
<h1><%= @assists_leader.player.first_name + " " + @assists_leader.player.last_name %></h1>
<h1><%= @rebounds_leader.player.first_name + " " + @rebounds_leader.player.last_name %></h1>
<h1><%= @steals_leader.player.first_name + " " + @steals_leader.player.last_name %></h1>
<h1><%= @blocks_leader.player.first_name + " " + @blocks_leader.player.last_name %></h1>
<h1><%= @prate_leader.player.first_name + " " + @prate_leader.player.last_name %></h1>