<% provide(:title, @player.first_name + " " + @player.last_name) %>
<div class="games-row row">
  <h1><%= link_to @season.description + " " + @player.first_name + " " + @player.last_name + " Game Logs", @player %></h1>
  
  <%= link_to 'Previous Season', player_games_path(player: @player, year: @season.season - 1) %>
  <%= link_to 'Next Season', player_games_path(player: @player, year: @season.season + 1), class: 'align-right' %>
  <h3>Player Stats</h3>
  <div class="scrollable-table">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Date</th>
          <th>OPP</th>
          <th>Score</th>
          <th>MIN</th>
          <th>FG</th>
          <th>FGA</th>
          <th>FG%</th>
          <th>3P</th>
          <th>3PA</th>
          <th>3P%</th>
          <th>FT</th>
          <th>FTA</th>
          <th>FT%</th>
          <th>ORB</th>
          <th>DRB</th>
          <th>TRB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TO</th>
          <th>PF</th>
          <th>PTS</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <% if game.game.player_of_the_game == @player %>
            <tr class="player-of-the-game">
          <% else %>
            <tr>
          <% end %>
          <td><%= game.day.strftime("%m/%d/%y") %></td>
          <% home = true if game.home_or_away == "HOME" %>
          <td><%= "@" unless home %><%= link_to game.opponent_name, game.opponent %></td>
          <% if game.game && game.game.home_team_score && game.game.away_team_score %>
            <% if home %>
              <% if game.game.home_team_score > game.game.away_team_score %>
                <td><%= link_to("W " + game.game.home_team_score.to_s + "-" + game.game.away_team_score.to_s, game.game ) %></td>
              <% else %>
                <td><%= link_to("L " + game.game.home_team_score.to_s + "-" + game.game.away_team_score.to_s, game.game ) %></td>
              <% end %>
            <% else %>
              <% if game.game.away_team_score > game.game.home_team_score %>
                <td><%= link_to("W " + game.game.away_team_score.to_s + "-" + game.game.home_team_score.to_s, game.game) %></td>
              <% else %>
               <td><%= link_to("L " + game.game.away_team_score.to_s + "-" + game.game.home_team_score.to_s, game.game) %></td>
              <% end %>
            <% end %>
          <% else %>
            <td><%= link_to "err", game.game %></td>
          <% end %>
          <td><%= game.minutes %></td>
          <td><%= game.field_goals_made %></td>
          <td><%= game.field_goals_attempted %></td>
          <td><%= game.field_goals_percentage %></td>
          <td><%= game.three_pointers_made %></td>
          <td><%= game.three_pointers_attempted %></td>
          <td><%= game.three_pointers_percentage %></td>
          <td><%= game.free_throws_made %></td>
          <td><%= game.free_throws_attempted %></td>
          <td><%= game.free_throws_percentage %></td>
          <td><%= game.offensive_rebounds %></td>
          <td><%= game.defensive_rebounds %></td>
          <td><%= game.rebounds %></td>
          <td><%= game.assists %></td>
          <td><%= game.steals %></td>
          <td><%= game.blocked_shots %></td>
          <td><%= game.turnovers %></td>
          <td><%= game.personal_fouls %></td>
          <td><%= game.points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <h3>Advanced Stats</h3>
  <div class="scrollable-table">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Date</th>
          <th>OPP</th>
          <th>Score</th>
          <th>MIN</th>
          <th>USG</th>
          <th>eFG%</th>
          <th>TS%</th>
          <th>AST%</th>
          <th>TO%</th>
          <th>ORB%</th>
          <th>DRB%</th>
          <th>TRB%</th>
          <th>STL%</th>
          <th>BLK%</th>
          <th>Box +/-</th>
          <th>PRt</th>
      </thead>
      <tbody>
        <% @games.each do |game| %>
          <% if game.game.player_of_the_game == @player %>
            <tr class="player-of-the-game">
          <% else %>
            <tr>
          <% end %>
          <td><%= game.day.strftime("%m/%d/%y") %></td>
          <% home = true if game.home_or_away == "HOME" %>
          <td><%= "@" unless home %><%= link_to game.opponent_name, game.opponent %></td>
          <% if game.game && game.game.home_team_score && game.game.away_team_score %>
            <% if home %>
              <% if game.game.home_team_score > game.game.away_team_score %>
                <td><%= link_to("W " + game.game.home_team_score.to_s + "-" + game.game.away_team_score.to_s, game.game ) %></td>
              <% else %>
                <td><%= link_to("L " + game.game.home_team_score.to_s + "-" + game.game.away_team_score.to_s, game.game ) %></td>
              <% end %>
            <% else %>
              <% if game.game.away_team_score > game.game.home_team_score %>
                <td><%= link_to("W " + game.game.away_team_score.to_s + "-" + game.game.home_team_score.to_s, game.game) %></td>
              <% else %>
               <td><%= link_to("L " + game.game.away_team_score.to_s + "-" + game.game.home_team_score.to_s, game.game) %></td>
              <% end %>
            <% end %>
          <% else %>
            <td><%= link_to "err", game.game %></td>
          <% end %>
          <td><%= game.minutes %></td>
          <td><%= game.usage_rate %></td>
          <td><%= game.effective_field_goals_percentage %></td>
          <td><%= game.true_shooting_percentage %></td>
          <td><%= game.assists_percentage %></td>
          <td><%= game.turnovers_percentage %></td>
          <td><%= game.offensive_rebounds_percentage %></td>
          <td><%= game.defensive_rebounds_percentage %></td>
          <td><%= game.rebounds_percentage %></td>
          <td><%= game.steals_percentage %></td>
          <td><%= game.blocks_percentage %></td>
          <td><%= game.bpm %></td>
          <td><%= game.prophet_rating %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>