<% provide(:title, 'Games') %>

<h1>Games</h1>

<% previous_day = (@date - 1.day).strftime('%Y%m%d') %>
<% next_day = (@date + 1.day).strftime('%Y%m%d') %>
<%= link_to "Previous Day", games_path(date: previous_day) %>
<%= link_to "Next Day", games_path(date: next_day), class: 'align-right' %>
<% if @date < Date.today %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Matchup</th>
        <th>Box Score</th>
        <th>Prediction</th>
        <th>Player of the Game</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <% prediction = game.prediction %>
        <tr>
          <td>
            <% if game.home_team %>
              <%= link_to game.home_team.school, game.home_team %>
            <% else %>
              <%= game.home_team_name %>
            <% end %>
            <%= game.home_team_score %>
            @
            <% if game.away_team %>
              <%= link_to game.away_team.school, game.away_team %>
            <% else %>
              <%= game.away_team_name %>
            <% end %>
            <%= game.away_team_score %>
          </td>
          <td><%= link_to 'View', game %></td>
          <% if prediction %>
            <% if prediction.home_team_prediction > prediction.away_team_prediction %>
              <% description = game.home_team_name + " " + prediction.home_team_prediction.to_s + " - " + prediction.away_team_prediction.to_s %>
              <td><%= link_to description, prediction %></td>
            <% else %>
              <% description = game.away_team_name + " " + prediction.away_team_prediction.to_s + " - " + prediction.home_team_prediction.to_s %>
              <td><%= link_to description, prediction %></td>
            <% end %>
          <% else %>
            <td>N/A</td>
          <% end %>
          <% player_of_the_game = game.player_of_the_game %>
          <% player_game = PlayerGame.find_by(player: player_of_the_game, game: game) %>
          <% if player_game %>
            <td><%= link_to player_of_the_game.first_name + " " + player_of_the_game.last_name, player_of_the_game %>
                <%= " " + player_game.points.to_s + "p, " + player_game.assists.to_s  + "a, " + player_game.rebounds.to_s + "r, " + player_game.prophet_rating.to_s %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table table-sm">
    <tr>
      <th>Matchup</th>
      <th>Time</th>
      <th>Spread</th>
      <th>O/U</th>
      <th>Prediction</th>
      <th>Predicted O/U</th>
    </tr>
    <% @games.each do |game| %>
      <% prediction = game.prediction %>
      <tr>
        <% if game.away_team && game.home_team %>
          <td><%= link_to game.away_team.school, game.away_team %> @ <%= link_to game.home_team.school, game.home_team %></td>
          <td><%= game.date_time.strftime("%I:%M%p")%></td>
          <% unless game.point_spread.nil? %>
            <% if game.point_spread < 0 %>
              <td><%= game.home_team_name + " " + game.point_spread.to_s %></td>
            <% else %>
              <td><%= game.away_team_name + " -" + game.point_spread.to_s %></td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
          <td><%= game.over_under %></td>
        <% else %>
          <td><%= game.away_team_name + " @ " + game.home_team_name %></td>
          <td><%= game.date_time.strftime("%I:%M%p")%></td>
          <% unless game.point_spread.nil? %>
            <% if game.point_spread < 0 %>
              <td><%= game.home_team_name + " " + game.point_spread.to_s %></td>
            <% else %>
              <td><%= game.away_team_name + " -" + game.point_spread.to_s %></td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
          <td><%= game.over_under %></td>
        <% end %>
        <% if prediction %>
          <% if prediction.home_team_prediction > prediction.away_team_prediction %>
            <% description = game.home_team_name + " -" + (prediction.home_team_prediction - prediction.away_team_prediction).to_s %>
            <td><%= link_to description, prediction %></td>
          <% else %>
            <% description = game.away_team_name + " -" + (prediction.away_team_prediction - prediction.home_team_prediction).to_s %>
            <td><%= link_to description, prediction %></td>
          <% end %>
          <td><%= prediction.predicted_over_under %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>