<% provide(:title, 'Games') %>

<h1>Games</h1>

<% previous_day = (Date.parse(params[:date]) - 1.day).strftime('%Y%m%d') %>
<% next_day = (Date.parse(params[:date]) + 1.day).strftime('%Y%m%d') %>
<%= link_to "Previous Day", games_path(date: previous_day) %>
<%= link_to "Next Day", games_path(date: next_day), class: 'align-right' %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>Matchup</th>
      <th>Time</th>
      <th>Point Spread</th>
      <th>Over/Under</th>
      <th>Away Score</th>
      <th>Home Score</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
        <!--Away Team Link-->
        <% if game.away_team %>
          <%= link_to game.away_team_name, game.away_team %>
        <% else %>
          <%= game.away_team_name %>
        <% end %>
         @ 
        <!--Home Team Link-->
        <% if game.home_team %>
          <%= link_to game.home_team_name, game.home_team %>
        <% else %>
          <%= game.home_team_name %>
        <% end %>  
        </td>
        <td><%= link_to game.date_time.strftime("%I:%M%p"), game unless game.date_time.nil? %></td>
        <td><%= game.point_spread %></td>
        <td><%= game.over_under %></td>
        <td><%= game.away_team_score %></td>
        <td><%= game.home_team_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>