<% provide(:title, 'Game Recap: ' + @away_team.school + " @ " + @home_team.school) if @away_team && @home_team %>

<div class='box-score'>
  <div class="score-banner row">
    <% if @away_team && @away_team_season %>
      <div class="away-team-banner col-md-4 col-md-offset-1 col-xs-4">
        <div class="team-info col-xs-8 col-sm-9">
          <div class="box-score-team-title">
            <h1><small><%= @away_team_season.adjem_rank %></small><%= link_to @away_team.school, team_path(@away_team, year: @season.season) %></h1>
          </div>
          <p><%= @away_team_season.wins.to_s + "-" + @away_team_season.losses.to_s %></p>
        </div>
        <div class="team-logo col-xs-4 col-sm-3">
          <%= image_tag @away_team.team_logo_url %>
        </div>
      </div>
    <% else %>
      <div class="away-team-banner col-md-4 col-md-offset-1 col-xs-4">
        <h1><%= @game.away_team_name %></h1>
      </div>
    <% end %>
    <div class="banner-score-box col-xs-4 col-md-2">
      <div class="away-score col-md-3 col-sm-6">
        <h1><%= @game.away_team_score %></h1>
      </div>
      <div class="col-md-6 col-xs-hidden col-sm-hidden">
        <h2 class="center game-status"><%= @game.status %></h2>
      </div>
      <div class="home-score col-md-3 col-sm-6">
        <h1><%= @game.home_team_score %></h1>
      </div>
    </div>
    <% if @home_team && @home_team_season %>
      <div class="home-team-banner col-xs-4">
        <div class="team-logo col-xs-4 col-sm-3">
          <%= image_tag @home_team.team_logo_url %>
        </div>
        <div class="team-info col-xs-8 col-sm-9">
          <div class="box-score-team-title">
            <h1><small><%= @home_team_season.adjem_rank %></small><%= link_to @home_team.school, team_path(@home_team, year: @season.season) %></h1>
          </div>
          <p><%= @home_team_season.wins.to_s + "-" + @home_team_season.losses.to_s %></p>
        </div>
      </div>
    <% end %>
    <div class="game-details center col-xs-12">
      <% if @game.date_time %>
        <%= link_to(@game.date_time.strftime("%A, %B %d, %Y "), games_path(date: @game.date_time.strftime("%Y%m%d"))) %>
        <% if @game.stadium %>
          <span>• </span><%= @game.date_time.strftime("%I:%M %p ") %><span>• </span><%= @game.stadium.name %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="box-score-row row">
    <div class="away-box-score col-lg-6">
      <table class="box-score-table table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Player</th>
            <th>MIN</th>
            <th>FG</th>
            <th>3PT</th>
            <th>FT</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>PF</th>
            <th>PTS</th>
          </tr>
        </thead>
        <tbody>
          <% @away_player_games.each do |game| %>
            <tr>
              <% player = game.player %>
              <td><%= player.jersey %></td>
              <td><%= link_to player.first_name[0]+ ". " + player.last_name, player %></td>
              <td><%= game.minutes %></td>
              <td><%= game.field_goals_made.to_s + "-" + game.field_goals_attempted.to_s %></td>
              <td><%= game.three_pointers_made.to_s + "-" + game.three_pointers_attempted.to_s %></td>
              <td><%= game.free_throws_made.to_s + "-" + game.free_throws_attempted.to_s %></td>
              <td><%= game.offensive_rebounds %></td>
              <td><%= game.defensive_rebounds %></td>
              <td><%= game.rebounds %></td>
              <td><%= game.assists %></td>
              <td><%= game.steals %></td>
              <td><%= game.blocked_shots %></td>
              <td><%= game.turnovers %></td>
              <td><%= game.personal_fouls %></td>
              <td><%= game.points %></td>
            </tr>
          <% end %>
          <tr class="total-row">
            <td colspan="3">Total</td>
            <td><%= @away_team_game.field_goals_made.to_s + "-" + @away_team_game.field_goals_attempted.to_s %></td>
            <td><%= @away_team_game.three_pointers_made.to_s + + "-" + @away_team_game.three_pointers_attempted.to_s %></td>
            <td><%= @away_team_game.free_throws_made.to_s + "-" + @away_team_game.free_throws_attempted.to_s %></td>
            <td><%= @away_team_game.offensive_rebounds %></td>
            <td><%= @away_team_game.defensive_rebounds %></td>
            <td><%= @away_team_game.rebounds %></td>
            <td><%= @away_team_game.assists %></td>
            <td><%= @away_team_game.steals %></td>
            <td><%= @away_team_game.blocked_shots %></td>
            <td><%= @away_team_game.turnovers %></td>
            <td><%= @away_team_game.personal_fouls %></td>
            <td><%= @away_team_game.points %></td>
          </tr>
          <tr class="total-row">
            <td colspan="3"></td>
            <td><%= @away_team_game.field_goals_percentage.to_s + "%" %></td>
            <td><%= @away_team_game.three_pointers_percentage.to_s + "%" %></td>
            <td><%= @away_team_game.free_throws_percentage.to_s + "%" %></td>
            <td colspan="9"></td>
          </tr>
        </tbody>
      </table>
      <div class="advanced-stats away-advanced-stats">
        <div class="col-md-4 left-column">
                    <table class="table table-striped table-sm">
            <tr>
              <th>EFG%</th>
              <td><%= @away_team_game.effective_field_goals_percentage %></td>
            </tr>
            <tr>
              <th>TS%</th>
              <td><%= @away_team_game.true_shooting_percentage %></td>
            </tr>
            <tr>
              <th>2P%</th>
              <td><%= @away_team_game.two_pointers_percentage %></td>
            </tr>
            <tr>
              <th>FTM/FGA</th>
              <td><%= @away_team_game.free_throws_rate %></td>
            </tr>
            <tr>
              <th>TO%</th>
              <td><%= @away_team_game.turnovers_percentage %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 middle-column">
          <table class="table table-striped table-sm">
            <tr>
              <th>AST%</th>
              <td><%= @away_team_game.assists_percentage %></td>
            </tr>
            <tr>
              <th>STL%</th>
              <td><%= @away_team_game.steals_percentage %></td>
            </tr>
            <tr>
              <th>BLK%</th>
              <td><%= @away_team_game.blocks_percentage %></td>
            </tr>
            <tr>
              <th>OREB%</th>
              <td><%= @away_team_game.offensive_rebounds_percentage %></td>
            </tr>
            <tr>
              <th>DREB%</th>
              <td><%= @away_team_game.defensive_rebounds_percentage %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 right-column">
          <table class="table table-striped table-sm">
            <tr>
              <th>Pace</th>
              <td><%= @away_team_game.pace %></td>
            </tr>
            <tr>
              <th>ORTG</th>
              <td><%= @away_team_game.offensive_efficiency %></td>
            </tr>
            <tr>
              <th>DRTG</th>
              <td><%= @away_team_game.defensive_efficiency %></td>
            </tr>
            <tr>
              <th>Performance</th>
              <td><%= @away_team_game.performance %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="home-box-score col-lg-6">
      <table class="box-score-table table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Player</th>
            <th>MIN</th>
            <th>FG</th>
            <th>3PT</th>
            <th>FT</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TO</th>
            <th>PF</th>
            <th>PTS</th>
          </tr>
        </thead>
        <tbody>
          <% @home_player_games.each do |game| %>
            <tr>
              <% player = game.player %>
              <td><%= player.jersey %></td>
              <td><%= link_to player.first_name[0]+ ". " + player.last_name, player %></td>
              <td><%= game.minutes %></td>
              <td><%= game.field_goals_made.to_s + "-" + game.field_goals_attempted.to_s %></td>
              <td><%= game.three_pointers_made.to_s + "-" + game.three_pointers_attempted.to_s %></td>
              <td><%= game.free_throws_made.to_s + "-" + game.free_throws_attempted.to_s %></td>
              <td><%= game.offensive_rebounds %></td>
              <td><%= game.defensive_rebounds %></td>
              <td><%= game.rebounds %></td>
              <td><%= game.assists %></td>
              <td><%= game.steals %></td>
              <td><%= game.blocked_shots %></td>
              <td><%= game.turnovers %></td>
              <td><%= game.personal_fouls %></td>
              <td><%= game.points %></td>
            </tr>
          <% end %>
          <tr class="total-row">
            <td colspan="3">Total</td>
            <td><%= @home_team_game.field_goals_made.to_s + "-" + @home_team_game.field_goals_attempted.to_s %></td>
            <td><%= @home_team_game.three_pointers_made.to_s + + "-" + @home_team_game.three_pointers_attempted.to_s %></td>
            <td><%= @home_team_game.free_throws_made.to_s + "-" + @home_team_game.free_throws_attempted.to_s %></td>
            <td><%= @home_team_game.offensive_rebounds %></td>
            <td><%= @home_team_game.defensive_rebounds %></td>
            <td><%= @home_team_game.rebounds %></td>
            <td><%= @home_team_game.assists %></td>
            <td><%= @home_team_game.steals %></td>
            <td><%= @home_team_game.blocked_shots %></td>
            <td><%= @home_team_game.turnovers %></td>
            <td><%= @home_team_game.personal_fouls %></td>
            <td><%= @home_team_game.points %></td>
          </tr>
          <tr class="total-row">
            <td colspan="3"></td>
            <td><%= @home_team_game.field_goals_percentage.to_s + "%" %></td>
            <td><%= @home_team_game.three_pointers_percentage.to_s + "%" %></td>
            <td><%= @home_team_game.free_throws_percentage.to_s + "%" %></td>
            <td colspan="9"></td>
          </tr>
        </tbody>
      </table>
      <div class="advanced-stats home-advanced-stats">
        <div class="col-md-4 left-column">
          <table class="table table-striped table-sm">
            <tr>
              <th>EFG%</th>
              <td><%= @home_team_game.effective_field_goals_percentage %></td>
            </tr>
            <tr>
              <th>TS%</th>
              <td><%= @home_team_game.true_shooting_percentage %></td>
            </tr>
            <tr>
              <th>2P%</th>
              <td><%= @home_team_game.two_pointers_percentage %></td>
            </tr>
            <tr>
              <th>FTM/FGA</th>
              <td><%= @home_team_game.free_throws_rate %></td>
            </tr>
            <tr>
              <th>TO%</th>
              <td><%= @home_team_game.turnovers_percentage %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 middle-column">
          <table class="table table-striped table-sm">
            <tr>
              <th>AST%</th>
              <td><%= @home_team_game.assists_percentage %></td>
            </tr>
            <tr>
              <th>STL%</th>
              <td><%= @home_team_game.steals_percentage %></td>
            </tr>
            <tr>
              <th>BLK%</th>
              <td><%= @home_team_game.blocks_percentage %></td>
            </tr>
            <tr>
              <th>OREB%</th>
              <td><%= @home_team_game.offensive_rebounds_percentage %></td>
            </tr>
            <tr>
              <th>DREB%</th>
              <td><%= @home_team_game.defensive_rebounds_percentage %></td>
            </tr>
          </table>
        </div>
        <div class="col-md-4 right-column">
          <table class="table table-striped table-sm">
            <tr>
              <th>Pace</th>
              <td><%= @home_team_game.pace %></td>
            </tr>
            <tr>
              <th>ORTG</th>
              <td><%= @home_team_game.offensive_efficiency %></td>
            </tr>
            <tr>
              <th>DRTG</th>
              <td><%= @home_team_game.defensive_efficiency %></td>
            </tr>
            <tr>
              <th>Performance</th>
              <td><%= @home_team_game.performance %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>