<% provide(:title, 'Game Recap') %>
<h1><%= @game.away_team_name + '@' + @game.home_team_name %></h1>

<% unless @away_team_game.nil? %>
    <%= image_tag(@away_team.team_logo_url) %>
    <%= @away_team_game.team_name %>
    <%= @away_team_game.points %>
<% end %>

<% unless @home_team_game.nil? %>
    <%= @home_team_game.team_name %>
    <%= @home_team_game.points %>
<% end %>

<% @away_player_games.each do |away_player_game| %>
 <%= away_player_game.name %>
<% end %>